/* Classe per lo sfondo dell'app */
.app-background {
    background: #ede7e3;
}

.button {
    background: #16697a;
    color: #ede7e3;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button:hover {
    background: #19778A;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


menubutton button {
    background: #16697a;
    color: #ede7e3;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

menubutton button:hover {
    background: #138da0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


.left-button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0;
}

.right-button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: 0;
}

.side-menu-button button {
    background: #ede7e3;
    color: #1f1f1f;
    justify-content: center;
    align-items: center;
    display: flex;
    border: none;
    text-align: center;
    align-content: center;
    box-shadow: none;
}
.side-menu-button button:hover {
    background: #dcd6d2;
    box-shadow: none;
}

